.d_none {
  display: none !important;
}

.d_block {
  display: block;
}

.flex_auto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.text_center {
  text-align: center;
}

@media (min-width: 85.375em) {
  .hide_on_desktop {
    display: none !important;
  }
}

@media (max-width: 85.3125em) {
  .hide_on_mobile {
    display: none !important;
  }
}

.container_x_sm {
  padding-left: calc($e / 16px)rem;
  padding-right: calc($e / 16px)rem;
  max-width: calc($e / 16px)rem;
  margin: auto;
}

@media (max-width: 35.9375em) {
  .container_x_sm {
    padding-left: calc($e / 16px)rem;
    padding-right: calc($e / 16px)rem;
  }
}

.container_y_1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.container_y_2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container_y_3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.container_x_md {
  padding-left: calc($e / 16px)rem;
  padding-right: calc($e / 16px)rem;
  max-width: calc($e / 16px)rem;
  margin: auto;
}

@media (max-width: 35.9375em) {
  .container_x_md {
    padding-left: calc($e / 16px)rem;
    padding-right: calc($e / 16px)rem;
  }
}

.title_1 {
  font-size: calc($e / 16px)rem;
  font-weight: 800;
}

@media (max-width: 35.9375em) {
  .title_1 {
    font-size: calc($e / 16px)rem;
  }
}

.title_2 {
  font-size: calc($e / 16px)rem;
  font-weight: 800;
}

@media (max-width: 35.9375em) {
  .title_2 {
    font-size: calc($e / 16px)rem;
  }
}

.small_italic_text {
  font-style: italic;
}

.toggle_button {
  color: #ffffff !important;
  text-transform: capitalize !important;
  padding: 2.5px 10px !important;
  border-color: #1F4287 !important;
}

.error_loading_section {
  color: #FF304F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error_loading_slides {
  min-height: calc($e / 16px)rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide_is_showed {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.slide_is_hidden {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.search_for_all {
  padding: 3rem 0;
  background: -webkit-gradient(linear, left top, right top, from(#1F4287), to(#278EA5));
  background: linear-gradient(90deg, #1F4287 0%, #278EA5 100%);
}

.search_for_all .form_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search_for_all .form_wrapper .input_field {
  width: 50%;
}

@media (max-width: 85.3125em) {
  .search_for_all .form_wrapper .input_field {
    width: 80%;
  }
}

@media (max-width: 35.9375em) {
  .search_for_all .form_wrapper .input_field {
    width: 100%;
  }
}
/*# sourceMappingURL=SearchForAll.module.css.map */