.d_none {
  display: none !important;
}

.d_block {
  display: block;
}

.flex_auto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.text_center {
  text-align: center;
}

@media (min-width: 85.375em) {
  .hide_on_desktop {
    display: none !important;
  }
}

@media (max-width: 85.3125em) {
  .hide_on_mobile {
    display: none !important;
  }
}

.container_x_sm {
  padding-left: calc($e / 16px)rem;
  padding-right: calc($e / 16px)rem;
  max-width: calc($e / 16px)rem;
  margin: auto;
}

@media (max-width: 35.9375em) {
  .container_x_sm {
    padding-left: calc($e / 16px)rem;
    padding-right: calc($e / 16px)rem;
  }
}

.container_y_1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.container_y_2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container_y_3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.container_x_md {
  padding-left: calc($e / 16px)rem;
  padding-right: calc($e / 16px)rem;
  max-width: calc($e / 16px)rem;
  margin: auto;
}

@media (max-width: 35.9375em) {
  .container_x_md {
    padding-left: calc($e / 16px)rem;
    padding-right: calc($e / 16px)rem;
  }
}

.title_1 {
  font-size: calc($e / 16px)rem;
  font-weight: 800;
}

@media (max-width: 35.9375em) {
  .title_1 {
    font-size: calc($e / 16px)rem;
  }
}

.title_2 {
  font-size: calc($e / 16px)rem;
  font-weight: 800;
}

@media (max-width: 35.9375em) {
  .title_2 {
    font-size: calc($e / 16px)rem;
  }
}

.small_italic_text {
  font-style: italic;
}

.toggle_button {
  color: #ffffff !important;
  text-transform: capitalize !important;
  padding: 2.5px 10px !important;
  border-color: #1F4287 !important;
}

.error_loading_section {
  color: #FF304F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error_loading_slides {
  min-height: calc($e / 16px)rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide_is_showed {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.slide_is_hidden {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.detail_trailer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 42, 48, 0.8);
  -webkit-backdrop-filter: grayscale(1);
          backdrop-filter: grayscale(1);
  z-index: 5000;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.detail_trailer .wrapper {
  width: 50%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 85.3125em) {
  .detail_trailer .wrapper {
    width: 80%;
    height: 45%;
  }
}

@media (max-width: 35.9375em) {
  .detail_trailer .wrapper {
    width: 90%;
    height: 35%;
  }
}

.detail_trailer .not_av {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1c2a30;
}

.detail_trailer .not_av h1 {
  color: #FF304F !important;
}

.detail_trailer .detail_video {
  width: 100%;
  height: 100%;
  background-color: #1c2a30;
}

.detail_trailer .cancel {
  color: #FF304F;
  background-color: transparent;
  margin-bottom: 0.5rem;
}
/*# sourceMappingURL=DetailTrailer.module.css.map */