.d_none {
  display: none !important;
}

.d_block {
  display: block;
}

.flex_auto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.text_center {
  text-align: center;
}

@media (min-width: 85.375em) {
  .hide_on_desktop {
    display: none !important;
  }
}

@media (max-width: 85.3125em) {
  .hide_on_mobile {
    display: none !important;
  }
}

.container_x_sm {
  padding-left: calc($e / 16px)rem;
  padding-right: calc($e / 16px)rem;
  max-width: calc($e / 16px)rem;
  margin: auto;
}

@media (max-width: 35.9375em) {
  .container_x_sm {
    padding-left: calc($e / 16px)rem;
    padding-right: calc($e / 16px)rem;
  }
}

.container_y_1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.container_y_2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container_y_3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.container_x_md {
  padding-left: calc($e / 16px)rem;
  padding-right: calc($e / 16px)rem;
  max-width: calc($e / 16px)rem;
  margin: auto;
}

@media (max-width: 35.9375em) {
  .container_x_md {
    padding-left: calc($e / 16px)rem;
    padding-right: calc($e / 16px)rem;
  }
}

.title_1 {
  font-size: calc($e / 16px)rem;
  font-weight: 800;
}

@media (max-width: 35.9375em) {
  .title_1 {
    font-size: calc($e / 16px)rem;
  }
}

.title_2 {
  font-size: calc($e / 16px)rem;
  font-weight: 800;
}

@media (max-width: 35.9375em) {
  .title_2 {
    font-size: calc($e / 16px)rem;
  }
}

.small_italic_text {
  font-style: italic;
}

.toggle_button {
  color: #ffffff !important;
  text-transform: capitalize !important;
  padding: 2.5px 10px !important;
  border-color: #1F4287 !important;
}

.error_loading_section {
  color: #FF304F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error_loading_slides {
  min-height: calc($e / 16px)rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide_is_showed {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.slide_is_hidden {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.detail_hero {
  margin-top: calc($e / 16px)rem;
  background-color: #071E3D;
  background-position: top right;
  background-size: 90%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (min-width: 48em) {
  .detail_hero {
    margin-top: calc($e / 16px)rem;
  }
}

@media (max-width: 85.3125em) {
  .detail_hero {
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
  }
}

.detail_hero .container_y_2 {
  padding-bottom: 12rem !important;
}

.detail_hero .detail_wrapper {
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #1c2a30), color-stop(66.08%, rgba(28, 42, 48, 0.8)), to(rgba(28, 42, 48, 0.5)));
  background: linear-gradient(90deg, #1c2a30 20%, rgba(28, 42, 48, 0.8) 66.08%, rgba(28, 42, 48, 0.5) 100%);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  color: #ffffff;
  height: 100%;
}

@media (max-width: 35.9375em) {
  .detail_hero .detail_wrapper {
    background: -webkit-gradient(linear, left top, right top, color-stop(20%, rgba(28, 42, 48, 0.8)), color-stop(66.08%, rgba(28, 42, 48, 0.8)), to(rgba(28, 42, 48, 0.5)));
    background: linear-gradient(90deg, rgba(28, 42, 48, 0.8) 20%, rgba(28, 42, 48, 0.8) 66.08%, rgba(28, 42, 48, 0.5) 100%);
  }
}

.detail_hero .detail_wrapper .flex_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 35.9375em) {
  .detail_hero .detail_wrapper .flex_section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.detail_hero .detail_wrapper .flex_section .detail_poster {
  min-width: calc($e / 16px)rem;
  min-height: calc(450px);
  width: calc($e / 16px)rem;
  border-radius: 10px;
}

@media (max-width: 35.9375em) {
  .detail_hero .detail_wrapper .flex_section .detail_poster {
    min-width: calc($e / 16px)rem;
    min-height: calc(300px);
    width: calc($e / 16px)rem;
  }
}

.detail_hero .detail_wrapper .detail_movie_content {
  margin-left: 2rem;
}

@media (max-width: 35.9375em) {
  .detail_hero .detail_wrapper .detail_movie_content {
    margin-left: 0;
    margin-top: 2rem;
    width: 100%;
  }
}

.detail_hero .detail_wrapper .detail_movie_content .detail_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 85.3125em) {
  .detail_hero .detail_wrapper .detail_movie_content .detail_header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.detail_hero .detail_wrapper .detail_movie_content .detail_header .year {
  margin-left: 15px;
  font-weight: normal;
  font-size: calc($e / 16px)rem;
}

.detail_hero .detail_wrapper .detail_movie_content .title {
  font-size: calc($e / 16px)rem;
}

.detail_hero .detail_wrapper .detail_movie_content .content_rating {
  color: #dacd18;
  font-weight: 700;
  border: 1px solid #dacd18;
  padding: 2px;
}

.detail_hero .detail_wrapper .detail_movie_content .content_rating p {
  margin: 0 !important;
}

.detail_hero .detail_wrapper .detail_movie_content .genres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.detail_hero .detail_wrapper .detail_movie_content .genres .genre {
  padding: 2.5px 5px;
  border-radius: 20px;
  border: 1px solid #ebebeb;
  font-size: 14px;
}

@media (max-width: 35.9375em) {
  .detail_hero .detail_wrapper .detail_movie_content .genres .genre {
    margin-top: 5px;
  }
}

.detail_hero .detail_wrapper .detail_movie_content .genres > :not(:last-child) {
  margin-right: 5px;
}

.detail_hero .detail_wrapper .detail_movie_content .detail_neck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.detail_hero .detail_wrapper .detail_movie_content .detail_neck > p {
  margin-bottom: 0;
  margin-left: 20px;
}

.detail_hero .detail_wrapper .detail_movie_content .detail_neck .runtime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detail_hero .detail_wrapper .detail_movie_content .detail_neck .runtime svg {
  width: 0.8rem;
  margin-right: 5px;
}

.detail_hero .detail_wrapper .detail_movie_content .detail_neck .coming_soon {
  text-transform: uppercase;
  font-weight: bold;
  color: #f1d900;
}

.detail_hero .detail_wrapper .detail_movie_content .tagline {
  font-style: italic;
  color: #ebebeb;
}

.detail_hero .detail_wrapper .detail_movie_content .overview {
  width: 50%;
}

@media (max-width: 63.9375em) {
  .detail_hero .detail_wrapper .detail_movie_content .overview {
    width: 80%;
  }
}

@media (max-width: 35.9375em) {
  .detail_hero .detail_wrapper .detail_movie_content .overview {
    width: 100%;
  }
}

.detail_hero .detail_wrapper .detail_movie_content .overview h1 {
  font-size: calc($e / 16px)rem;
  margin-bottom: 0.5rem;
  color: #ebebeb;
}

.detail_hero .detail_wrapper .detail_movie_content .info > div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.detail_hero .detail_wrapper .detail_movie_content .info > div h1 {
  margin: 0;
  margin-left: 5px;
  font-family: "Nunito", sans-serif;
  font-size: calc($e / 16px)rem;
}

.detail_hero .detail_wrapper .detail_movie_content .trailer_btn {
  margin-top: 15px;
  border-width: 2px;
  border-color: rgba(39, 142, 165, 0.8);
  color: rgba(39, 142, 165, 0.8);
  -webkit-transition: border-color color 200ms ease;
  transition: border-color color 200ms ease;
  text-transform: capitalize;
}

.detail_hero .detail_wrapper .detail_movie_content .trailer_btn:hover {
  border-color: #278ea5;
  color: #278ea5;
}

.info_loading_error {
  min-height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=DetailHero.module.css.map */