@import '../../../styles/mixins';
@import '../../../styles/variables';
@import '../../../styles/utilities';

.search_result_card {
    width: calUni(150px);
    margin: auto;

    .image_wrapper {
        margin-bottom: 10px;
        .image {
            min-width: calUni(150px);
            min-height: calUni(223px);
            max-height: calUni(225px);
            object-fit: cover;
            border-radius: 5px;
            border: 2px solid $clr-gray;
        }

        .dummy {
            @include flex-center;
            color: $clr-primary;
            background-color: $clr-gray;
        }
    }

    .content {
        .title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 14px;
        }
    }
}