@import '../../../styles/mixins';
@import '../../../styles/variables';
@import '../../../styles/utilities';

.slide_wrapper {
    width: 60%;
    margin: 2rem auto;

    @include m-breakpoint-up(slarge) {
        width: 50%;
    }
    @include m-breakpoint-down(large) {
        width: 100%;
        margin: 2rem auto;
    }   
}

.error_loading_section {
    height: calUni(815px);

    @include m-breakpoint-down(lmedium){
        height: calUni(500px);
    }
}