@import './styles/mixins';
@import './styles/variables';
@import './styles/utilities';

.search_result_route_wrapper {
    display: flex;
    flex-direction: row-reverse;

    @include m-breakpoint-down(large) {
        flex-direction: column-reverse;
    }

    .search_wrapper {
        flex: 7;
    }
}

.flex_media {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    @include m-breakpoint-down(lmedium) {
        flex-direction: column;
    }

    .media_wrapper {
        width: 70%;

        @include m-breakpoint-down(lmedium) {
            width: 100%;
            margin-bottom: 20px;
        }
    }
}