@import './styles/mixins';
@import './styles/variables';
@import './styles/utilities';

.search_result_route_wrapper {
    display: flex;
    flex-direction: row-reverse;

    @include m-breakpoint-down(large) {
        flex-direction: column-reverse;
    }

    .search_wrapper {
        flex: 7;
    }
}