@import '../../../styles/mixins';
@import '../../../styles/variables';
@import '../../../styles/utilities';

.popular_now {
    color: $clr-wah;

    .popular_wrapper {
        position: relative;
        min-height: calUni(400px);

        & > * {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            transition: all 200ms ease-in;
        }
    }
}