@import '../../../styles/mixins';
@import '../../../styles/variables';
@import '../../../styles/utilities';

.popular_now {
    color: $clr-wah;
    background-image: url(../../../images/background-trend.png);
    background-repeat: no-repeat;
    background-position: center 10px;
    background-size: 100%;

    @include m-breakpoint-down(small) {
        background-position: center center;
        background-image: url(../../../images/background-trend-sm.png);
    }

    .popular_wrapper {
        position: relative;
        min-height: calUni(400px);

        & > * {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            transition: all 200ms ease-in;
        }
    }
}