@import '../../../styles/mixins';
@import '../../../styles/variables';
@import '../../../styles/utilities';

.search_header {
    margin-top: calUni(67.98px);
    background: linear-gradient(90deg, #1F4287 0%, #278EA5 100%);
    box-shadow: rgba($clr-light, 0.1) 0px 4px 12px;
    h1 {
        margin: 0;
    }

    .autocomplete {
        position: absolute;
        z-index: 500;
        cursor: pointer;
        background-color: $clr-dark;
        .auto_item {
            color: $clr-secondary;
            padding: 10px 15px;
            background-color: $clr-wah;
            transition: all 200ms ease;
            margin-bottom: 2px;

            &:hover {
                color: $clr-dark;
                background-color: $clr-wah;
            }
        }
    }
}